/******************************* Start unites section styling *************************************** */
.unites_section{
    background: var(--forth-color);
    min-height: 80vh;
    padding: 40px;

    .create_new_btn{
        position: relative;

        & >button{
            background: royalblue;
            color: var(--forth-color);
            padding: 13px 15px;
        }
        
        .create_new_checkbox{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 5;
            opacity: 0;
            &:checked + .create_form_box{
                scale: 1;
            }
        }
        

        .create_form_box{
            position: fixed;
            top: 15.9%;
            right: 0;
            width: 100vw;
            height: 85vh;
            background: var(--primary-color);
            z-index: 10;
            padding: 40px;
            scale: 0;
            transition: all ease 0.8s;

            .create_unites_form{
                width: 18.75rem;
                min-height: 80px;
                background: var(--forth-color);
                text-align: left;
                padding: 0.625rem;
                border-radius: .4375rem;
                
                .form_heading{
                    & p{
                        font-size: 1rem;
                        font-weight: 600;
                    }
                    .close_btn{
                        padding: 0.3125rem;
                        position: relative;
                        .close_checkbox{
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                        }
                        & svg{
                            width: 20px;
                            color: var(--color-danger);
                        }
                    }
                }

                .input_box select{
                    width: 100%;
                    padding: 10px;
                    border: 1px solid var(--shadow-color);
                    color: #6c6c6c;
                }

                .submit_btn{
                    background: royalblue;
                    color: var(--forth-color);
                    padding: 10px;
                    width: 100%;
                }
            }
        }

    }

    .delete_btn svg{
        width: 22px;
    }
}


@media all and (max-width: 768px){
    
    main{
        .unites_section{
            padding: 15px;

            .heading button{
                padding: 11px;
            }
            
            .table_box table{
                min-width: 100%;
            }
        }
    }
}