/*******************************************************************************************************
* Common styling
***************************************************************************************************** */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url("../../fonts/OpenSans-Regular.ttf");
}

body{
    font-family: OpenSans, sans-serif;
    font-weight: 400;
    background: var(--ternory-color);
    color: var(--secondary-color);
}

:root{
    --primary-color: #fed700;
    --secondary-color: #333e48;
    --ternory-color: #f4f8fd;
    --forth-color: #fefcfb;
    --shadow-color: #dad8d8;
    --size-10px: 0.625rem;
    --size-14px: 0.875rem;
    --size-15px: 0.9375rem;
    --size-16px: 1rem;
    --size-18px: 1.125rem;
    --size-20px: 1.25rem;
    --size-22px: 1.375rem;
    --size-25px: 1.563rem;
    --size-36px: 2.25rem;
    --gap-20px: 1.25rem;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
}

.btn{
    border: none;
    outline: none;
    background: transparent;
    display: inline-block;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
    display: inline-block;
    font-size: var(--secondary-color);
}

ul{
    list-style: none;
}

span{
    display: inline-block;
    font-size: inherit;
    color: var(--secondary-color);
}

input, select, textarea{
    border: none;
    outline: none;
}

img{
    display: inline-block;
    width: 100%;
}

svg{
    transition: all ease 0.5s !important;
    color: var(--secondary-color);
}

p, h1, h2, h3, h4, h5, h6{
    color: var(--secondary-color);
}

.gap-15px{
    gap: 1.125rem;
}

.products_box{
    width: 100%;
    margin-top: 40px;
    .box{
        width: 100%;
        padding: .9375rem;
        padding-bottom: 1.875rem;
        background: var(--forth-color);
        box-shadow: 0px 0px .3125rem #ebe9e9cf inset;
        border-radius: .625rem;

        .heading{
            font-size: var(--size-18px);
            font-weight: 900;
            color: var(--secondary-color);
            padding: .9375rem;
    
            .view_all_btn{
                background: var(--primary-color);
                color: var(--secondary-color);
                padding: .4375rem .625rem;
                border-radius: .3125rem;
                font-size: var(--size-14px);
                font-weight: 600;
                &:hover svg{
                    margin-right: .1875rem;
                }
                & svg{
                    transition: all ease 0.5s;
                }
            }
        }

        .item{
            width: 95%;
            margin: auto;
            padding: .9375rem;
            padding-bottom: 1.25rem;
            box-shadow: 0px 0px 15px #ebe9e9f0;
            border-radius: .625rem;

            &:hover img{
                scale: 1.04;
            }

            .category_name{
                color: gray;
                font-size: var(--size-15px);
                margin-bottom: 5px;
            }
            
            .product_name{
                margin-bottom: 1.4375rem;
                & a{
                    color: #3e6bf5;
                    font-size: var(--size-15px);
                    display: inline-block;
                    font-weight: 600;
                    transition: all ease 0.4s;
                    text-overflow: ellipsis;
                    &:hover{
                        text-underline-offset: 2px;
                        color: #3565f7;
                        text-decoration: underline;
                    }
                }
            }
            
            .img_box{
                text-align: center;
                overflow: hidden;
                & img{
                    height: 250px;
                    aspect-ratio: 1/1;
                    text-align: center;
                    object-fit: contain;
                    transition: all ease 0.5s;
                }
            }

            .price_box{
                margin-top: 1.0625rem;

                .price{
                    font-weight: 900;
                    font-size: var(--size-16px);

                    & del{
                        color: lightcoral;
                        margin-right: 2px;
                    }
                }
                & svg{
                    width: 20px;
                }

                .right{
                    gap: var(--gap-20px);
                    & button{
                        width: 2.1875rem;
                        aspect-ratio: 1/1;
                        border-radius: 100%;
                        background: var(--primary-color);
                        & svg{
                            width: 30px;
                        }
                    }
                }
            }

            .order_link{
                background: var(--primary-color);
                color: var(--secondary-color);
                padding: 10px 0;
                width: 100%;
                border: 0.5px solid #8080806b;
                border-radius: .3125rem;
                font-size: var(--size-15px);
                font-weight: 600;
            }

        }
    }

}

/************ Start get_update_section styling ****************/
.get_update_section{
    background: linear-gradient(to left,#fed700, #fa9625);
    margin: 3.125rem 0;
    margin-top: 6.25rem;
    padding: 1.25rem 0;
    box-shadow: 0px 0px 10px #fa9625 inset;
    font-size: 2.0625rem;
    font-weight: 900;
    & p svg{
        width: 2.5rem !important;
        height: 2.5rem !important;
        margin-left: .625rem;
        margin-bottom: -0.375rem;
    }

    & form{
        & input{
            width: 70%;
            padding: .9375rem;
            border-radius: .4375rem 0 0 .4375rem;
            &::placeholder{
                transition: all ease 0.5s;
            }
            &:focus::placeholder{
                padding-left: .625rem;
            }
        }
        & button{
            padding: .7188rem .9375rem;
            font-size: var(--size-18px);
            font-weight: 700;
            border-radius: 0 .4375rem .4375rem 0;
            background: var(--secondary-color);
            color: var(--forth-color);
            border: 1px solid var(--secondary-color);
            & svg{
                color: var(--forth-color);
                margin-left: .4375rem;
            }
        }
    }
}

/*******************************************************************************************************
* Start media query
***************************************************************************************************** */
@media all and (min-width: 576px){ /**Responsive for mini tableets**/
    .container{
        max-width: 100% !important;
        padding: 0 40px;
    }
}

@media all and (min-width: 768px){ /**Responsive for large tablets**/
    .container{
        padding: 0 50px;
    }
}

@media all and (min-width: 992px){ /**Responsive for mini laptops**/
    .container{
        padding: 0 65px;
    }
}

@media all and (min-width: 1200px){ /**Responsive for medium laptopes**/
    .container{
        padding: 0 50px;
    }
}

@media all and (min-width: 1400px){ /**Responsive for normal laptopes (14`inch)**/
    
}

@media all and (min-width: 1600px){ /**Responsive for desktop and tv**/
    .container{
        max-width: 1536px !important;
        padding: 0 60px;
    }
}

@media all and (max-width: 576px){
    .get_update_section form button{
        font-size: 10px !important;
    }
}

@media all and (max-width: 992px){
    .get_update_section{
        font-size: 25px !important;
        text-align: center;
        & svg{
            width: 20px !important;
            height: 20px !important;
        }

        & form button{
            font-size: .75rem !important;
        }

    }
}

/*******************************************************************************************************
* Start animation define
***************************************************************************************************** */
