/*******************************************************************************************************
* Start heder section styling
***************************************************************************************************** */
header{
    width: 100%;
}
/****************** Start category_box styling  ******************/
section.category_box{
    width: 100%;
    margin-top: .625rem;
    padding: 1.25rem 0;
    
    .items{
        width: 8.75rem;
        aspect-ratio: 1/1;
        border-radius: .4375rem;
        background: var(--forth-color);
        padding: 10px;
        font-size: var(--size-14px);
        font-weight: 600;
        text-align: center;
        color: var(--secondary-color);
        box-shadow: 0 0 15px #dee2e63b;
        overflow: hidden;

        
        & img{
            width: 60%;
            height: 60%;
            margin-bottom: 5px;
            object-fit: contain;
        }

        .text{
            position: relative;
            transition: all 0.5s;
            & svg{
                position: absolute;
                bottom: -8.5px;
                right: -8.5px;
                transition: all 0.5s;
            }
        }

        &:hover{
            .text{
                color: var(--primary-color);
                svg{
                    right: -15px;
                }
            }
        }
    }
}
#category_box{
    margin-top: 140px;
}
/********************* Start binner styling  *********************/
section.crousel_section .binner{
    margin-top: 10px;
    overflow: hidden;
    height: 15.625rem;
    position: relative;

    .items{
        height: 15.625rem;
        position: relative;
        & img{
            width: 100%;
            height: 100%;
        }

    }
    .owl-nav{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        & button{
            padding: 10px;
            background: var(--ternory-color);
            display: inline-block;
            font-size: 30px;
            width: 35px;
            height: 75px;
            box-shadow: 0px 0px 5px #dad8d8;
            border-radius: 7px 0 0 7px;
            &:first-child{
                border-radius: 0 7px 7px 0;
            }
        }
    }

}

/*******************************************************************************************************
* Start main section styling
***************************************************************************************************** */
main{
    margin-top: 2.5rem;

    /********* Start Top_selling_product_section styling ***********/
    .top_selling_product_section{
        width: 100%;
    }

    /************ Start get_update_section styling ****************/
    .get_update_section{
        background: linear-gradient(to left,#fed700, #fa9625);
        margin: 1.875rem 0;
        padding: 1.25rem 0;
        box-shadow: 0px 0px 10px #fa9625 inset;
        font-size: 2.0625rem;
        font-weight: 900;
        & p svg{
            width: 2.5rem !important;
            height: 2.5rem !important;
            margin-left: .625rem;
            margin-bottom: -0.375rem;
        }

        & form{
            & input{
                width: 70%;
                padding: .9375rem;
                border-radius: .4375rem 0 0 .4375rem;
                &::placeholder{
                    transition: all ease 0.5s;
                }
                &:focus::placeholder{
                    padding-left: .625rem;
                }
            }
            & button{
                padding: .7188rem .9375rem;
                font-size: var(--size-18px);
                font-weight: 700;
                border-radius: 0 .4375rem .4375rem 0;
                background: var(--secondary-color);
                color: var(--forth-color);
                border: 1px solid var(--secondary-color);
                & svg{
                    color: var(--forth-color);
                    margin-left: .4375rem;
                }
            }
        }
    }
}


/***************************************************************************************************************************************************
* Start media query
************************************************************************************************************************************************* */
@media all and (max-width: 1600px){ /** Responsive for desktops and TVs **/
    
}

@media all and (max-width: 1400px){ /** Responsive for normal laptops (14-inch) **/
    .top_selling_product_section .box .item{
        width: 100%;
    }
}

@media all and (max-width: 1200px){ /** Responsive for medium laptops **/
    
}

@media all and (max-width: 1140px){ /** Responsive for mini laptopes**/
    
}

@media all and (max-width: 992px){ /** Responsive for large tablets **/
    #category_box{
        margin-top: 200px;
    }
    .get_update_section{
        font-size: 25px !important;
        text-align: center;
        & svg{
            width: 20px !important;
            height: 20px !important;
        }

        & form button{
            font-size: .75rem !important;
        }

    }
}

@media all and (max-width: 768px){ /** Responsive for mini tablets **/
    
}

@media all and (max-width: 576px){ /** Responsive for mobile device **/

    section.category_box .items{
        width: 105px;
    
    }
    
    .top_selling_product_section .box .items{
        width: 97%;
    }
    .get_update_section form button{
        font-size: 10px !important;
    }
}



