.how_to_place_order{
    width: 40%;
    height: 100px;
    background: #9cf09c;
    border-left: 12px solid #4CAF50;
    position: fixed;
    top: -100%;
    right: 50%;
    z-index: 1000;
    transform: translateX(50%);
    padding: .4375rem;
    font-size: 30px;
    border-radius: 0 7px 7px 0;
    box-shadow: 0px 0px 10px #7df57d inset;
    transition: all 2.5s;
    & iframe{
        width: 150px;
        height: 100%;
    }
    & div{
        & img{
            width: 40px;
        }
        margin-left: 15px;
    }
    .place_order_colse_btn{
        position: absolute;
        top: 0px;
        right: 0px;
        padding: 10px;
    }
}

/*******************************************************************************************************
* Start heder section styling
***************************************************************************************************** */
header{
    width: 100%;
}
/****************** Start category_box styling  ******************/
section.category_box{
    width: 100%;
    margin-top: .625rem;
    padding: 1.25rem 0;
    
    .items{
        width: 8.75rem;
        aspect-ratio: 1/1;
        border-radius: .4375rem;
        background: var(--forth-color);
        padding: 10px;
        font-size: var(--size-14px);
        font-weight: 600;
        text-align: center;
        color: var(--secondary-color);
        box-shadow: 0 0 15px #dee2e63b;
        overflow: hidden;

        
        & img{
            width: 60%;
            height: 60%;
            margin-bottom: 5px;
            object-fit: contain;
        }

        .text{
            position: relative;
            transition: all 0.5s;
            & svg{
                position: absolute;
                bottom: -8.5px;
                right: -8.5px;
                transition: all 0.5s;
            }
        }

        &:hover{
            .text{
                color: var(--primary-color);
                svg{
                    right: -15px;
                }
            }
        }
    }
}
#category_box{
    margin-top: 140px;
}
/********************* Start binner styling  *********************/
section.crousel_section .binner{
    margin-top: 10px;
    overflow: hidden;
    height: 15.625rem;
    position: relative;

    .items{
        height: 15.625rem;
        position: relative;
        & img{
            width: 100%;
            height: 100%;
        }

    }
    .owl-nav{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;

        & button{
            padding: 10px;
            background: var(--ternory-color);
            display: inline-block;
            font-size: 30px;
            width: 35px;
            height: 75px;
            box-shadow: 0px 0px 5px #dad8d8;
            border-radius: 7px 0 0 7px;
            &:first-child{
                border-radius: 0 7px 7px 0;
            }
        }
    }

}

/*******************************************************************************************************
* Start main section styling
***************************************************************************************************** */
main{
    margin-top: 2.5rem;

    /********* Start Top_selling_product_section styling ***********/
    .top_selling_product_section{
        width: 100%;
    }

}


/***************************************************************************************************************************************************
* Start media query
************************************************************************************************************************************************* */
@media all and (max-width: 1600px){ /** Responsive for desktops and TVs **/
    
}

@media all and (max-width: 1400px){ /** Responsive for normal laptops (14-inch) **/
    .top_selling_product_section .box .item{
        width: 100%;
    }
}

@media all and (max-width: 1200px){ /** Responsive for medium laptops **/
    
}

@media all and (max-width: 1140px){ /** Responsive for mini laptopes**/
    
}

@media all and (max-width: 992px){ /** Responsive for large tablets **/
    .how_to_place_order{
        width: 90%;
        font-size: 14px;
    }
    #category_box{
        margin-top: 200px;
    }
    
}

@media all and (max-width: 768px){ /** Responsive for mini tablets **/
    
}

@media all and (max-width: 576px){ /** Responsive for mobile device **/

    section.category_box .items{
        width: 105px;
    
    }
    
    .top_selling_product_section .box .items{
        width: 97%;
    }
}



