/*******************************************************************************************************
* Start main section styling
***************************************************************************************************** */
main{
    margin-top: 10rem;

    .my_cart{

        .heading{
            font-size: 1.125rem;
            margin-bottom: 30px;
            font-weight: 700;
            text-align: center;
        }
        
        .item{
            & table{
                width: 100%;
                font-size: .8125rem;
                color: gray;
                & th{
                    font-size: .875rem;
                    text-align: left;
                    border-bottom: 1px solid #dcdcdcc6;
                    padding-bottom: 15px;
                    & svg{
                        color: gray;
                    }
                }

                & tbody tr{
                    & td{
                        padding: .9375rem;
                        color: gray;
                        vertical-align: middle;
                        & svg{
                            width: 1.4375rem;
                            cursor: pointer;
                            color: lightcoral;
                            padding: .125rem;
                        }
                        & img{
                            width: 60px !important;
                            margin-left: 40px;
                        }
                    } 
                }
            }
        }

        .coupan_section{
            background: var(--forth-color);
            padding: 30px;
            margin-top: 3.125rem;

            .coupan_code_form .input_box{
                border: 1px solid var(--secondary-color);
                border-radius: 1.25rem;
                overflow: hidden;
                & input, & button{
                    padding: .6875rem;
                    &::placeholder{
                        transition: all 0.5s;
                    }
                }
                & button{
                    background: var(--secondary-color);
                    color: var(--forth-color);
                }

                & input:focus::placeholder{
                    padding-left: .4375rem;
                }
            }

            .checout_btn{
                background: green;
                color: var(--forth-color);
                padding: 10px 35px;
                border-radius: .3125rem;
                & svg{
                    margin-right: 5px;
                    color: var(--forth-color);
                }
            }
        }

        .cart_total{
            background: var(--forth-color);
            margin-top: 15px;
            padding: 1.25rem .9375rem;
            
            & li{
                
                span{
                    color: gray;
                    margin-bottom: .4375rem;
                    font-size: .875rem;
                    &:first-child{
                        color: var(--secondary-color);
                        width: 60%;
                    }
                }
            }
        }
    }
}

/*******************************************************************************************************
* Start media query
***************************************************************************************************** */
@media all and (max-width: 992px){
    main{
        margin-top: 240px;
        .my_cart .item1{
            overflow-x: auto;
            & table{
                min-width: 700px !important;
                padding-right: 1.875rem !important;
            }
        }  
    } 
}


