/*******************************************************************************************************
* Start main section styling
***************************************************************************************************** */
main{
    margin-top: 10rem;

    .product_showcase{
        height: 100vh;
        overflow: hidden;
        .container >.row{
            background: var(--forth-color);
            border-radius: 7px;
            padding: 20px;
        }

        .left{
            height: 100%;
            .img_box{
                padding: 30px;
                border-radius: .9375rem;
                height: 100%;
                overflow: hidden;
                
                .aside_img{
                    height: 100%;
                    overflow-y: auto;
                    &::-webkit-scrollbar{
                        width: 0;
                    }
                    .item{
                        padding: 10px;
                        text-align: center;
                        cursor: pointer;
                        margin-bottom: 10px;
                        border-radius: 7px;
                        width: 90%;
                        margin-right: auto;
                        max-height: 90px;

                        &.active_img{
                            border: 1px solid var(--primary-color);
                        }
                        
                        & img{
                            object-fit: contain;
                            height: 100%;
                            width: 95%; 
                        }
                    }
                }
                .big_img{
                    /* height: 100%; */
                    padding-left: 20px;
                    & img{
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                        object-position: top;
                        text-align: center;
                    }
                }
            }
        }

        .right{
            padding: 20px;
            height: 100%;
            overflow-y: auto;
            overflow-x: hidden;
            &::-webkit-scrollbar{
                width: 0;
            }
            .box{
                border-bottom: 1px solid #80808049;
                padding-bottom: 20px;
                .name{
                    font-size: 16px;
                    font-weight: 600;
                }
                .bornd_logo{
                    & img{
                        width: 30px !important;
                    }
                    font-size: 14px !important;
                }

                ul> li{
                    padding: 10px 0;
                    font-size: var(--size-16px);
                    column-gap: 50px;
                    & span{
                        color: black;
                        font-size: 13px;
                        width: 25%;
                    }
                    & button, input{
                        padding: 10px;
                        border: 0.4px solid var(--primary-color);
                        font-size: 13px;
                    }
                    & input{
                        width: 10%;
                    }
                }
            }
            .box3 button{
                padding: 7px 45px;
                margin-right: 10px;
                border-radius: .4375rem;
                color: var(--forth-color);
                & svg{
                    width: var(--size-18px);
                    margin-right: 5px;
                    color: var(--forth-color);
                }
                &.buy_now_btn{
                    background: green;
                }
                &.add_to_cart_btn{
                    background: orangered;
                }
                &.live_demo_btn{
                    background: goldenrod;
                    width: 100%;
                }
            }

            .box4{
                
                & span{
                    color: #a7a6a6;
                }
                padding: 20px 0;
                & img{
                    width: 1.875rem;
                }
                & svg{
                    width: 1.125rem;
                }
            }
            .box5{
                & p{
                    font-weight: 600;
                    font-size: 12px;
                }
                & li{
                    display: flex;
                    color: black;
                    font-size: 10px !important;
                    & strong{
                        color: var(--secondary-color);
                        width: 30%;
                    }
                }

            }
            .term{
                color: black;
                font-size: 11px;
                & li{
                    margin-bottom: 15px;
                }
            }
        }
    }

    .customer_policy{
        background: var(--forth-color);

        .item a{
            padding: 35px 0;
            color: var(--forth-color);
            font-weight: 600;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: all 0.5s ease;
            outline-offset: 3px;
            outline: 1px solid #ff0a54;
            
            &:hover{
                scale: 1.02;
            }
        }
        .item1 a{
            background: #ff0a54;
        }
        .item2 a{
            background: #ff4800;
            outline-color: #ff4800;
        }
        .item3 a{
            background: #054a29;
            outline-color: #054a29;
        }
        .item4 a{
            background: #392ecc;
            outline-color: #392ecc;
        }
    }

    .simelar_product{
        position: relative;

        .owl-nav{
            position: absolute;
            top: -80px;
            z-index: 9;
            right: 20px;
            display: block !important;
            & button{
                span{
                    font-size: 1.25rem;
                    margin-left: 1px;
                    display: block;
                    padding: 5px;
                }
            }
        }
        
        .item{
            min-height: 200px;
            & img{
                height: 180px;
            }
        }
    }
}


@media all and (max-width: 1200px){
    .product_showcase{

        .left{
            height: 500px !important;
        }
        
        .right .box3 button{
            padding: 10px 15px !important;
        }
    }
}

@media all and (max-width: 992px){
    .product_showcase{
        height: auto !important;
        .left .img_box{
            overflow: visible !important;
            .aside_img .item{
                width: 100px !important;
                height: 100px !important;
                & img{
                    width: 100% !important;
                }
            }

            .big_img{
                height: 350px !important;
                padding: 0px !important;
                margin-bottom: .9375rem;
                & img{
                    object-fit: contain !important;
                }
            }
        }

        .right{
            margin-top: 80px;
        }
    }
}

@media all and (max-width: 576px){
    .product_showcase{
        .left .img_box .big_img img{
            height: auto !important;
        }
        .right .box3 .btn_box{
            flex-wrap: wrap;
            justify-content: center;
            button{
                font-size: 12px;
                margin-bottom: 10px;
                border-radius: 5px;
                width: 45%;
                display: flex; 
                justify-content: center;
                align-items: center;
            }
        }
    }
    
}
